*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.musicCard h1{
    color: #333;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.musicCard p{
    color: #333;
    font-size: 14px;
    
}

.musicCard{
    background: #ffe0e5;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circle{
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #f53192;
    box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    cursor: pointer;
    /*  The horizontal offset of the shadow, positive means the shadow will be on the right of the box, a negative offset will put the shadow on the left of the box.
        The vertical offset of the shadow, a negative one means the box-shadow will be above the box, a positive one means the shadow will be below the box.
        The blur radius (optional), if set to 0 the shadow will be sharp, the higher the number, the more blurred it will be.
        The spread radius (optional), positive values increase the size of the shadow, negative values decrease the size. Default is 0 (the shadow is same size as blur).
        Color 
    */
}

.Image-icon{
    width: 280px;
    border: 10px solid white;
    box-shadow: 0 10px 8px 0 rgba(255, 26, 26, 0.22);
    margin-bottom: 30px;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #f53192;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:white;
    color: #f53192;
    box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform: scale(1.5);
    color: white;
    background: #f53192;
}